*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 8vw;
    color: #0e0d0d;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #ad0303;
    padding-top: 3vw;
}

body{
    font-family: sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.keys{
    display: flex;
    margin: 3vw;
    padding: 5vw 5vw;
}

.key{
    border: 0.4rem solid black;
    border-radius: .5rem;
    margin: 1vw;
    padding: 1vw 1vw;
    font-size: 1rem;
    transition: all 0.7s ease;
    width: 10vw;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

kbd {
    display: block;
    color: #ad0303;
    text-shadow: 3px 0 #0e0d0d;
    font-size: 3rem;
    padding: 0.5vw;
}

footer{
    font-size: 2vw;
    color: #0e0d0d;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #ad0303;
    padding-top: 3vw;
}

.playing {
    transform: scale(1.1);
    border-color: #ad0303;
    box-shadow: 0 0 1rem #ad0303;
    transition: 0.1s ease;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}